.image-container {
  position: relative;
  max-width: 600px;
  margin: auto;
  border: 2px solid black;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.corner {
  position: absolute;
}

.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}
